<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Targets.Kafka" />
	</extensions>

	<targets>
		<target name="kafka" xsi:type="Kafka"
				topic="logs"
				brokerList="kafka:9092"
				layout="${longdate}|${level}|${logger}|Service=Microservice1|${message}|${exception:format=toString}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="kafka" />
	</rules>
</nlog>
